{% extends "base.html" %}
{% block title %}Edytuj{% endblock %}


{% block content %}

<div class="row text-white edit_row text-center">
    <h3>Edytuj jedzenie o id: {{food.id}}</h3>
    <form method="POST" action="" class="py-5">
        <div class="col-auto">
            <label for="food_name" class="form-label">Nazwa</label>
            <input type="text" class="form-control" id="food_name" name="food_name" value="{{food.food_name}}" required>
        </div>
        
        <div class="d-flex justify-content-center py-4">
            <button type="submit" class="btn btn-success btn_edit">Zapisz</button>
        </div>
    </form>
</div>


{% endblock %}